<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
  <nav class="nav-bar">
    <div class="nav-left">
      <%= link_to "Wikinimous", articles_path %>
    </div>
    <div class="nav-right">
      <%= link_to "New article", new_article_path %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
